AeroHubXMLFiles/AerohubSchemaV2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- This document is part of QIF 2.1, an open, industry-wide standard -->
<!-- established by the Dimensional Metrology Standards Consortium.    -->
<!-- This document shall not be used in any manner to claim any        -->
<!-- proprietary rights to such information, such as rights to a       -->
<!-- patent, trademark, or copyright.                                  -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://qifstandards.org/xsd/qif3"
  xmlns:t="http://qifstandards.org/xsd/qif3"
  targetNamespace="http://qifstandards.org/xsd/qif3"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="3.0.0">

    <xs:annotation>
        <xs:documentation>
            The Aerohub.xsd schema file defines types that are used to generate
            file link locations for data located in Azure Blob storage.
        </xs:documentation>
    </xs:annotation>

    <xs:element name = "AerohubLinkData" type="AerohubLinkDataSet">
	  </xs:element>

    <xs:complexType name="AerohubLinkDataSet">
        <xs:annotation>
            <xs:documentation>
            Highest level data structure for Aerohub containing all different data package types linked in a MFIN file
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DesignIterationGroup" type ="DesignIterationSet"/>
            <xs:element name="DesignGateGroup" type ="DesignGateSet"/>
            <xs:element name="RFQGroup" type ="RFQSet"/>
            <xs:element name="QuotationGroup" type ="QuotationSet"/>
            <xs:element name="PurchaseOrderGroup" type ="PurchaseOrderSets"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DesignIterationSet">
        <xs:annotation>
            <xs:documentation>
            Places for each data package type in Aerohub
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name ="StressReportSet" type ="StressReportSet"/>
            <xs:element name ="ThermalReportSet" type ="ThermalReportSet"/>
            <xs:element name ="RelevantDataSet" type ="RelevantReportSet"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StressReportSet">
        <xs:annotation>
            <xs:documentation>
            Placeholder
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name ="StressReportByMesh" type ="MeshType"/>
            <xs:element name ="StressReportMaster" type ="MetaDataType"/>
        </xs:sequence>
        <xs:attribute name="id"
				    type="QIFIdType"
				    use="required">
		    </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ThermalReportSet">
        <xs:annotation>
            <xs:documentation>
            Placeholder
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name ="ThermalReportByMesh" type ="MeshType"/>
            <xs:element name ="ThermalReportMaster" type ="MetaDataType"/>
        </xs:sequence>
        <xs:attribute name="id"
				    type="QIFIdType"
				    use="required">
		    </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RelevantReportSet">
        <xs:annotation>
            <xs:documentation>
            Placeholder
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name ="RelevantReportByMesh" type ="MeshType"/>
            <xs:element name ="RelevantReportMaster" type ="MetaDataType"/>
        </xs:sequence>
        <xs:attribute name="id"
				    type="QIFIdType"
				    use="required">
		    </xs:attribute>
    </xs:complexType>

    <xs:complexType name="MeshType">
        <xs:annotation>
            <xs:documentation>
            Placeholder
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name ="Mesh" type ="MeshReportType"/>
        </xs:sequence>
        <xs:attribute name="n"
			      type="NaturalType"
				    use="required">
			    <xs:annotation>
				    <xs:documentation>
				    The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				    </xs:documentation>
			    </xs:annotation>
		    </xs:attribute>	
    </xs:complexType>

    <xs:complexType name="MeshReportType">
        <xs:annotation>
            <xs:documentation>
            Placeholder
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name ="MeshFileLink" type ="xs:string"/>
            <xs:element name ="MeshMasterReport" type ="MetaDataType"/>
            <xs:element name ="MeshReportSet" type ="ReportType"/>
        </xs:sequence>
        <xs:attribute name="FileName"
				type="xs:string"
				use="required">
		</xs:attribute>
        <xs:attribute name="id"
				type="QIFIdType"
				use="required">
		</xs:attribute>
    </xs:complexType>

    <xs:complexType name="ReportType">
        <xs:annotation>
            <xs:documentation>
            Placeholder
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name ="MeshReport" type ="MetaDataType"/>
        </xs:sequence>
        <xs:attribute name="n"
			type="NaturalType"
				use="required">
			<xs:annotation>
				<xs:documentation>
				The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>	
    </xs:complexType>

    <xs:complexType name="DesignGateSet">
        <xs:annotation>
            <xs:documentation>
            Places for each data package type in Aerohub
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name ="DesignGatePresentationSet" type ="DesignGatePresentationSet"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DesignGatePresentationSet">
        <xs:annotation>
            <xs:documentation>
            Places for each data package type in Aerohub
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name ="DesignGatePresentation" type ="MetaDataType"/>
        </xs:sequence>
        <xs:attribute name="n"
			type="NaturalType"
				use="required">
			<xs:annotation>
				<xs:documentation>
				The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>	
    </xs:complexType>

    <xs:complexType name="RFQSet">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="RFQSets" type ="RFQType"/>
          </xs:sequence>
      </xs:complexType>

    <xs:complexType name="RFQType">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="RFQSet" type ="RFQDataSet" />
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
      </xs:complexType>

    <xs:complexType name="RFQDataSet">
		  <xs:annotation>
              <xs:documentation>
              This element describes the file description structure.
              </xs:documentation>
		  </xs:annotation>
          <xs:sequence>
              <xs:element name="RFQ" type="MetaDataType"/>
              <xs:element name="SOWSet" type="SOWType"/>	
          </xs:sequence>
          <xs:attribute name="id"
				  type="QIFIdType"
				  use="required">
		  </xs:attribute>
	  </xs:complexType>
  
    <xs:complexType name="SOWSets">
      <xs:annotation>
        <xs:documentation>
          Places for each data package type in Aerohub
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="SOWSet" type="SOWType"/>
      </xs:sequence>
    </xs:complexType>
  
    <xs:complexType name="SOWType">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="SOW" type="MetaDataType"/>
            <xs:element name="AttachedFileSet" type="AttachedDataSet"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
      </xs:complexType>

    <xs:complexType name="AttachedDataSet">
		  <xs:annotation>
              <xs:documentation>
              This element describes the file description structure.
              </xs:documentation>
		  </xs:annotation>
          <xs:sequence>
              <xs:element name="AttachedFile" type="MetaDataType">
                  <xs:annotation>
                      <xs:documentation>
                      Stores the Date/Time file was uploaded
                      </xs:documentation>
                  </xs:annotation>
              </xs:element>		
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
	  </xs:complexType>

    <xs:complexType name="QuotationSet">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="QuotationSets" type ="QuotationType"/>
          </xs:sequence>
      </xs:complexType>

    <xs:complexType name="QuotationType">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="QuotationSet" type ="QuotationDataSet"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
      </xs:complexType>

    <xs:complexType name="QuotationDataSet">
		  <xs:annotation>
              <xs:documentation>
              This element describes the file description structure.
              </xs:documentation>
		  </xs:annotation>
          <xs:sequence>
              <xs:element name="Quote" type="MetaDataType">
                  <xs:annotation>
                      <xs:documentation>
                      Stores the Date/Time file was uploaded
                      </xs:documentation>
                  </xs:annotation>
              </xs:element>	
              <xs:element name="CCW" type="MetaDataType">
                  <xs:annotation>
                      <xs:documentation>
                      Stores Link to attached Data
                      </xs:documentation>
                  </xs:annotation>
              </xs:element>
          </xs:sequence>
          <xs:attribute name="id"
				  type="QIFIdType"
				  use="required">
		  </xs:attribute>
	  </xs:complexType>

    <xs:complexType name="PurchaseOrderSets">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="PurchaseOrderSets" type ="PurchaseOrderType"/>
          </xs:sequence>
      </xs:complexType>

    <xs:complexType name="PurchaseOrderType">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="PurchaseOrderSet" type ="PurchaseOrderSet"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
      </xs:complexType>

    <xs:complexType name="PurchaseOrderSet">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="PurchaseOrder" type="MetaDataType"/>
              <xs:element name ="NDASet" type ="NDASet"/>
              <xs:element name ="IPDocumentSet" type ="IPDocumentSet"/>
              <xs:element name ="LTAContractSet" type ="LTAContractSet"/>
              <xs:element name ="MVAFPAOriginalSubmission" type ="MetaDataType"/>
              <xs:element name ="MVARelatedSet" type ="MVARelatedSet"/>
              <xs:element name ="FAIRSubmissionSet" type ="FAIRSubmission"/>
              <xs:element name ="FAIRRevisionSets" type ="FAIRRevisionSets"/>
              <xs:element name ="OverhaulAssessmentSets" type ="OverhaulAssessmentSets"/>
              <xs:element name ="RepairMethodSets" type ="RepairMethodSets"/>
              <xs:element name ="ContinuingLifecycleDataSet" type ="xs:string"/>
          </xs:sequence>
          <xs:attribute name="id"
				  type="QIFIdType"
				  use="required">
		  </xs:attribute>
      </xs:complexType>

    <xs:complexType name="NDASet">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="NDA" type ="MetaDataType"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
      </xs:complexType>

    <xs:complexType name="IPDocumentSet">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="IPDocument" type ="MetaDataType"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
      </xs:complexType>

    <xs:complexType name="LTAContractSet">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="LTAContract" type ="MetaDataType"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
      </xs:complexType>

    <xs:complexType name="MVARelatedSet">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name ="CurrentMVA" type ="MetaDataType"/>
            <xs:element name ="Program" type ="MetaDataType"/>
            <xs:element name ="MOM" type ="MetaDataType"/>
            <xs:element name ="LotProgram" type ="MetaDataType"/>
            <xs:element name ="FPDSet" type ="MVAFPD"/>
            <xs:element name ="DataCardSet" type ="MVADataCard"/>
            <xs:element name ="ApprovedDocumentSet" type ="MVAApprovedDocument"/>
            <xs:element name ="ReportSet" type ="MVAReport"/>
          </xs:sequence>
        <xs:attribute name="id"
				  type="QIFIdType"
				  use="required">
        </xs:attribute>
      </xs:complexType>

    <xs:complexType name="MVAFPD">
      <xs:annotation>
        <xs:documentation>
          Places for each data package type in Aerohub
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name ="FPD" type ="MetaDataType"/>
      </xs:sequence>
      <xs:attribute name="n"
    type="NaturalType"
      use="required">
        <xs:annotation>
          <xs:documentation>
            The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  
    <xs:complexType name="MVADataCard">
      <xs:annotation>
        <xs:documentation>
          Places for each data package type in Aerohub
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name ="DataCard" type ="MetaDataType"/>
      </xs:sequence>
      <xs:attribute name="n"
    type="NaturalType"
      use="required">
        <xs:annotation>
          <xs:documentation>
            The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  
    <xs:complexType name="MVAApprovedDocument">
      <xs:annotation>
        <xs:documentation>
          Places for each data package type in Aerohub
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name ="ApprovedDocument" type ="MetaDataType"/>
      </xs:sequence>
      <xs:attribute name="n"
    type="NaturalType"
      use="required">
        <xs:annotation>
          <xs:documentation>
            The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  
    <xs:complexType name="MVAReport">
      <xs:annotation>
        <xs:documentation>
          Places for each data package type in Aerohub
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name ="Report" type ="MetaDataType"/>
      </xs:sequence>
      <xs:attribute name="n"
    type="NaturalType"
      use="required">
        <xs:annotation>
          <xs:documentation>
            The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  
    <xs:complexType name="FAIRSubmission">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name="FAIRSubmission" type="MetaDataType"/>
              <xs:element name="SupportingDocumentSet" type="FAIRSupportingSet"/>
          </xs:sequence>
          <xs:attribute name="id"
				  type="QIFIdType"
				  use="required">
		  </xs:attribute>
      </xs:complexType>

    <xs:complexType name="FAIRSupportingSet">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name="SupportingDocument" type="MetaDataType"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
      </xs:complexType>

    <xs:complexType name="FAIRRevisionSets">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="FAIRRevisionSet" type ="FAIRRevisionSet"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
      </xs:complexType>

    <xs:complexType name="FAIRRevisionSet">
		  <xs:annotation>
              <xs:documentation>
              This element describes the file description structure.
              </xs:documentation>
		  </xs:annotation>
          <xs:sequence>
              <xs:element name ="FAIRRevision" type ="MetaDataType"/>	
              <xs:element name ="FAIRApproval" type ="MetaDataType"/>
          </xs:sequence>
          <xs:attribute name="id"
				  type="QIFIdType"
				  use="required">
		  </xs:attribute>
	  </xs:complexType>

    <xs:complexType name="OverhaulAssessmentSets">
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="OverhaulAssessmentSet" type ="OverhaulAssessmentSet"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
      </xs:complexType>

    <xs:complexType name="OverhaulAssessmentSet">
		  <xs:annotation>
              <xs:documentation>
              This element describes the file description structure.
              </xs:documentation>
		  </xs:annotation>
          <xs:sequence>
              <xs:element name ="OverhaulAssessment" type ="MetaDataType"/>	
              <xs:element name ="OverhaulDataSet" type ="OverhaulDataSet"/>
          </xs:sequence>
         <xs:attribute name="id"
        type="QIFIdType"
        use="required">
         </xs:attribute>
	  </xs:complexType>

    <xs:complexType name="OverhaulDataSet">
		  <xs:annotation>
              <xs:documentation>
              This element describes the file description structure.
              </xs:documentation>
		  </xs:annotation>
          <xs:sequence>
              <xs:element name ="OverhaulData" type ="MetaDataType"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>
	  </xs:complexType>

    <xs:complexType name="RepairMethodSets" >
          <xs:annotation>
              <xs:documentation>
              Places for each data package type in Aerohub
              </xs:documentation>
          </xs:annotation>
          <xs:sequence>
              <xs:element name ="RepairMethodSet" type ="RepairMethodSet"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>	
      </xs:complexType>

    <xs:complexType name="RepairMethodSet">
      <xs:annotation>
        <xs:documentation>
        This element describes the file description structure.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name ="RepairMethod" type ="MetaDataType"/>	
        <xs:element name ="DevelopmentData" type ="DevelopmentData"/>
        <xs:element name ="RepairReports" type ="RepairReports"/>
      </xs:sequence>
      <xs:attribute name="id"
        type="QIFIdType"
        use="required">
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DevelopmentData">
		  <xs:annotation>
              <xs:documentation>
              This element describes the file description structure.
              </xs:documentation>
		  </xs:annotation>
          <xs:sequence>
              <xs:element name ="DevelopmentData" type ="MetaDataType"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>
	  </xs:complexType>

    <xs:complexType name="RepairReports">
		  <xs:annotation>
              <xs:documentation>
              This element describes the file description structure.
              </xs:documentation>
		  </xs:annotation>
          <xs:sequence>
              <xs:element name ="RepairReport" type ="MetaDataType"/>
          </xs:sequence>
          <xs:attribute name="n"
			  type="NaturalType"
				  use="required">
			  <xs:annotation>
				  <xs:documentation>
				  The required n attribute is the counter number of such Analysis Links AnalysisLinkSet.
				  </xs:documentation>
			  </xs:annotation>
		  </xs:attribute>
	  </xs:complexType>

    <xs:complexType name="MetaDataType">
		  <xs:annotation>
              <xs:documentation>
              This element describes the file description structure.
              </xs:documentation>
		  </xs:annotation>
          <xs:sequence>
              <xs:element name="PartNumber" type="xs:string" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                      <xs:documentation>
                      Stores the Part Number
                      </xs:documentation>
                  </xs:annotation>
              </xs:element>
              <xs:element name="FileLink" type="xs:string" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                      <xs:documentation>
                      Stores Link to attached Data
                      </xs:documentation>
                  </xs:annotation>
              </xs:element>
              <xs:element name="User" type="xs:string" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                      <xs:documentation>
                      Stores the User ID when the file was uploaded
                      </xs:documentation>
                  </xs:annotation>
              </xs:element>		
              <xs:element name="DateTime" type="xs:string" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                      <xs:documentation>
                      Stores the Date/Time file was uploaded
                      </xs:documentation>
                  </xs:annotation>
              </xs:element>
              <xs:element name ="Signatures" type ="TrueFalse" maxOccurs="1"/>
              <xs:element name ="SupplierName" type ="xs:string" maxOccurs="1"/>
              <xs:element name ="SupplierDocumentNumber" type ="xs:string"/>
              <xs:element name ="ProcessNumber" type ="xs:string" maxOccurs="1"/>
              <xs:element name ="EngineSerialNumber" type ="xs:string"/>
              <xs:element name ="EngineOperator" type ="xs:string"/>
              <xs:element name ="OverhaulDate" type ="xs:string"/>
              <xs:element name ="MVANumber" type="xs:string"/>
              <xs:element name ="LTADocumentNumber" type ="xs:string"/>
              <xs:element name ="IPNumber" type ="xs:string"/>
              <xs:element name ="NDANumber" type ="xs:string"/>
          </xs:sequence>
          <xs:attribute name="FileName"
				      type="xs:string"
				      use="required">
		      </xs:attribute>
          <xs:attribute name="id"
				      type="QIFIdType"
				      use="required">
		      </xs:attribute>
	  </xs:complexType>

    <xs:simpleType name="NaturalType">
        <xs:annotation>
            <xs:documentation>
            The NaturalType is the natural number type (integer > 0).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="QIFIdType">
        <xs:annotation>
        <xs:documentation>
            The QIFIdType defines an unsigned integer with no leading zeros.
            All 'id' attributes in all QIF schema files are of QIFIdType.
        </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedInt">
        <xs:pattern value="[1-9][0-9]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TrueFalse">
        <xs:annotation>
        <xs:documentation>
        
        </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
        <xs:enumeration value="Yes"/>
        <xs:enumeration value="No"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
